html, body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    font-size: 12px;

}
body{-webkit-text-size-adjust:none} 
#bodybg {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-image:url(../Image/indexbg.jpg); 
    background-repeat:no-repeat; 
    background-size:100% 100%;
   /*-moz-background-size:100% 100%;*/
}
.banner{
    height:88px;
       background-image:url(../Image/bannerbg.png); 
    background-repeat:no-repeat; 
    background-size:100% 100%;
}
.banner .col-lg-9 img{
    margin :25px auto auto 10px;
}
.banner .col-lg-3>div{
    height:77px;
    width:266px;
    background-image:url(../Image/bannar-time-bg.png); 
    background-repeat:no-repeat; 
    background-size:100% 100%;
    display: table-cell;
    vertical-align:middle;
}
.banner .col-lg-3 div label:nth-child(1){
 margin:auto;
 margin-left:40px;
 margin-top:10px;
 color:#ffffff;
 font-size:30px;

}
.banner .col-lg-3 div label:nth-child(2){
 margin:auto;
 margin-left:20px;
 margin-top:10px;
 color:#ffffff;
 font-size:12px;
}
.leftbox{
 float:left;
 width:calc(100%-290);
 margin-left:0;
 margin-right:0;
}
.rightbox{
  width:260px;
  float:right;
  margin-right:30px;
  margin-top:5px;

}
.entitylist{
    width:100%;
    height:38px;
    background-image:url(../Image/entitylist.png); 
    background-repeat:no-repeat; 
    background-size:100% 100%;
}
.entitylist label:nth-child(1){
    color:#4c8afa;
}
.rightbox label{
 font-size:12px;
}
.row2n {
    margin-top:10px;
    height:111px;
    background-color:#ffffff;
}
.row1n {
    margin-top:10px;
    height:111px;
    background-color:#cccccc;
}