html, body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    font-size: 12px;   
}
#header{
    height:102px;
    z-index:999;
    position:absolute;
    width:100%;
}
#mapdraw{
    width: 100%;
    position: absolute;
    top: 0px;
   left: 0px;
   z-index:1;
}