html, body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Helvetica,Tahoma,Arial,sans-serif;
    font-size: 12px;
    

}
body{-webkit-text-size-adjust:none} 
body > .row{
    height:102px;
    background-image:url(../Image/topbannerbg.png); 
    background-repeat:repeat-x; 
    background-size:100% 100%;
}
.row div:nth-child(2){
    width:120px;
    height:102px;
    float:right;  
    color:#cccccc;
     display: table-cell;
    vertical-align:middle;
}
label{
    vertical-align:middle;display:inline-block;
}
.row div:nth-child(1){
     float:left;
    width:calc(100% - 120px);
}
.row div:nth-child(2) span:nth-child(-n+2){
    display:inline-block;
    margin-top:25px;
}
.row div:nth-child(2) span:nth-child(3){
    display:block;
    margin-top:5px;
}